Configuring Proxy for NPM
==========================
1. create a file in <user folder> with name .npmrc and paste fallowing code.
2. replace <http://example.com> with you proxy server name add port number also if it is there

proxy=http://example.com
